@import "../../../styles/mixins/responsive.scss";

.footer {
  margin-top: 5rem;
}
.footerLogo {
  @apply flex flex-row justify-center items-center gap-4;
}
.credit {
  @apply text-xl font-light font-medium;

  color: rgba(255, 255, 255, 0.5);
}

.creditLogo {
  height: 60px !important;
  opacity: 0.8;
}
